body {
  margin: 0;
   font-family: 'Gluten', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cceed3;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #b19cd9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


